<div class="text-center mt-5" *ngIf="loading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<h2 class="text-center">My recipes</h2>
<div class="block d-flex flex-wrap" *ngIf="!loading">
  <div class="card m-2 content" style="width: 18em" *ngFor="let recipe of recipes">
    <img [src]="[recipe.imageUrl]" class="card-img-top" alt="{{ recipe.name }}">
    <div class="card-body text-center">
      <h5 class="card-title"><strong>{{ recipe.name }}</strong> </h5>
      <p class="card-text">Description: <strong>{{ recipe.description }}</strong> </p>
      <a [routerLink]="['recipes', recipe.id]" class="btn btn-outline-info d-block mb-3">Recipe info</a>
      <div class="buttons">
        <button (click)="delete(recipe.id)" class="btn btn-danger">
        <span *ngIf="deleteId === recipe.id" class="spinner-border spinner-border-sm"
              role="status" aria-hidden="true"
        ></span>
          <span *ngIf="deleteId !== recipe.id">Delete</span>
        </button>&nbsp;
        <button [routerLink]="['edit', recipe.id]" class="btn btn-dark">Edit</button>
      </div>
    </div>
  </div>
</div>
